@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lexend Deca', sans-serif;
}

* {
    box-sizing: border-box;
}

/*--- TECHNICAL SHIT ^ ---*/

.Container-1 {
 display: flex;
 justify-content: space-between;
}

.Container-1 svg:hover {
  fill: #757575;
}

#My-logo {
  padding: 20px 0px 0px 50px;
}
#Email{
  padding: 38px 50px 0px 0px;
}
#Email:hover {
  filter: invert(0.4);
}

/*--- HEADER ^ ---*/

.Container-2{
  padding: 160px 0px 220px 0px;
}

#Name {
  font-size: 28px;
  color: #135071;
  letter-spacing: 2px;
  text-align: center;}
#Slash-1 {
  font-size: 28px;
  color: #3B3B3B;
  letter-spacing: 2px;
  text-align: center;;
}
#Job {  
  font-size: 28px;
  color: #135071;
  letter-spacing: 2px;
  text-align: center;}

/*--- LANDING ^ ---*/

.Container-3-nav {
  text-align: center;
  margin-bottom: 30px;
  padding: 6px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.Container-3-nav a {
  text-decoration: none;
  color: #3B3B3B;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: center;
}
.Container-3-nav nav a:hover {
  color: #757575;
}
#Slash-2 {
  padding: 0px 20px 0px 20px;
}
#Slash-2:hover {
  color: #3b3b3b
}
#Slash-3 {
  padding: 0px 20px 0px 20px;
}
#Slash-3:hover {
  color: #3b3b3b;
}

/*--- NAVIGATION ^ ---*/

#Section1 {
  display: none;
}
#Section2 {
  display: none;
}
#Section3 {
  display: none;
}

/*--- SECTION DISPLAY ^ ---*/

#Dots-1 { 
  font-size: 18px;
  color: #135071;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0;
}

.Carousel {
  width: 98vw;
}

.Carousel-cell {
  width: 70vw;
  height: 600px;
  margin-right: 20px;
  background-color: #757575;
  border-radius: 10px;
  counter-increment: Carousel-cell;
}

.Container-3 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0 50px 0 ;
  margin: 0 auto;
  
}

#Recent-work {
  font-size: 18px;
  color: #3B3B3B;
  letter-spacing: 1.5px;
  padding-right: 127px;
}
#Body-copy-1 {
  width: 45vw;
  font-size: 18px;
  color: #757575;
  letter-spacing: 0;
}

/*--- PORTFOLIO ^ ---*/

#Dots-2 { 
  font-size: 18px;
  color: #135071;
  letter-spacing: 2px;
  text-align: center;;
  opacity: 0;
}

.Container-4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
}

.Column {
  flex: 50%;
  max-width: 50%;
}

.Column img {
  vertical-align: middle;
  width: 97%;
  padding-bottom: 22px;
}

.Bottom-nav {
  text-align: center;
  margin-top: 90px;
  margin-right: 20px;
}

.Bottom-nav a {
  text-decoration: none;
  font-size: 18px;
  color: #3B3B3B;
  letter-spacing: 1.5px;
}

.Bottom-nav nav a:hover {
  color: #757575;
}

/*--- PHOTOGRAPHY ^ ---*/

#Dots-3 { 
  font-size: 18px;
  color: #135071;
  letter-spacing: 2px;
  text-align: center;;
  opacity: 0;
}

.Self-portrait img {
  width: 97%;
  margin-left: 20px;
  border-radius: 10px;
}

.Container-5 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px 0 ;
  margin: 0 auto;
}

#About-me {
  font-size: 18px;
  color: #3b3b3b;
  letter-spacing: 1.5px;
  padding-right: 127px;
}

#Body-copy-2 {
  width: 45vw;
  font-size: 18px;
  color: #757575;
  letter-spacing: 0;
}

/*--- ABOUT ME ^ ---*/

@media screen and (max-width: 600px) {
  .Column {
    flex: 100%;
    max-width: 100%;
  }
  .Bottom-nav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/*--- MEDIA QUERIES ^ ---*/